[data-component='RealtimePage'] {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 16px;

    &>div {
        flex-shrink: 0;
    }

    header {
        margin-bottom: 8px;

        .title {
            display: flex;
            align-items: center;
            gap: 12px;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }

    main {
        margin: 8px 0;
    }
}